<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ScholarDatabaseEntities" connectionString="metadata=res://*/Database.ScholarDatabaseEntities.csdl|res://*/Database.ScholarDatabaseEntities.ssdl|res://*/Database.ScholarDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=ALEKSANDRPAK-PC\SQLEXPRESS2012;Initial Catalog=ScholarNetDatabase;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <ScholarCrawler.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=ALEKSANDRPAK-PC\SQLEXPRESS2012;Initial Catalog=ScholarNetDatabase;Integrated Security=SSPI;</value>
      </setting>
    </ScholarCrawler.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>